<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Réinitialisation du mot de passe Qualibroker</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .container {
            width: 50%;
            margin: 100px auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .btn {
            background-color: {{ projectColor }};
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container">
    <p>Bonjour,</p>
    <p>Nous avons reçu une demande de réinitialisation de votre mot de passe pour votre compte Qualibroker. Si vous avez effectué cette demande, veuillez cliquer sur le bouton ci-dessous pour réinitialiser votre mot de passe :</p>
    <p><a href="http://localhost:3000{{ url }}" class="btn">Réinitialiser le mot de passe</a></p>
    <p>Si vous n'avez pas fait cette demande, vous pouvez ignorer cet e-mail en toute sécurité.</p>
    <p>Merci,<br> L'équipe Qualibroker</p>
</div>
</body>
</html>
